/* Boiler plate styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body size and flex layout
(used flex-direction row to align links in a row) */

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

/* Boiler plate sizing and styling for link divs */

.page-link-wrapper {
	font-family: "Raleway", sans-serif !important;
	color: rgb(213, 213, 213);
	width: calc(100vw / 4);
	height: 100vh;
	transition: 0.5s ease;
}

/* Setting background images for each div */

.link-1 {
	background-image: url("../img/mobo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.link-2 {
	background-image: url("../img/program.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30%;
}

.link-3 {
	background-image: url("../img/monitor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.link-3 {
	background-image: url("../img/monitor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Center the title text and tint the background */

.page-link {
	cursor: pointer;
	transition: 0.5s ease;
	display: grid;
	place-items: center;
	transition: 0.5s ease;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Add a tint to the background-image */
}

.page-link h1 {
	font-size: 2.2em;
	transition: 0.5s ease;
}

/* Animations for hovering on links */

.page-link:hover > h1 {
	font-size: 3em;
}

.page-link:hover {
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.15) 35%, rgba(0, 0, 0, 0.6) 100%);
	animation: grow 0.5s ease;
	width: 35vw;
}

.page-link-wrapper:hover {
	animation: grow 0.5s ease;
	width: 35vw;
}

/* Create basic animation for growing the tiles */

@keyframes grow {
	0% {
		width: calc(100vw / 4);
	}
	100% {
		width: 35vw;
	}
}

/* Media query for smaller device */

@media (max-width: 1000px) {
	/* change the flex-direction to column such that the tiles are stacked vertically not horizontally*/

	body {
		height: auto;
		flex-direction: column;
		overflow-y: scroll;
		overflow-x: hidden;
	}

	/* As they are now vertical the width doesn't need to be adjusted but the height needs to be */

	.page-link-wrapper,
	.page-link {
		width: 100vw;
		height: 35vh;
	}

	/* change the hover behavior for smaller devices */

	.page-link-wrapper:hover {
		width: 100vw;
		animation: none;
	}

	.page-link:hover {
		width: 100vw;
		animation: none;
		background: rgb(0, 0, 0);
		background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.15) 35%, rgba(0, 0, 0, 0.6) 100%);
	}

	.page-link:hover > h1 {
		font-size: 3em;
	}
}
