/* Boiler plate styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Body size and flex layout
(used flex-direction row to align links in a row) */

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/* Boiler plate sizing and styling for link divs */

.page-link-wrapper {
	font-family: "Raleway", sans-serif !important;
	color: rgb(213, 213, 213);
	width: calc(100vw / 3);
	height: 100vh;
}

/* Setting background images for each div */

.link-1 {
	background-image: url("../img/mobo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.link-2 {
	background-image: url("../img/program.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30%;
}

.link-3 {
	background-image: url("../img/monitor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 30%;
}

/* Center the title text and tint the background */

.page-link {
	cursor: pointer;
	transition: 0.5s ease;
	display: grid;
	place-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6); /* Add a tint to the background-image */
}

.page-link h1 {
	font-size: 2.2em;
	transition: 0.5s ease;
}

/* Animations for hovering on links */

.page-link:hover > h1 {
	font-size: 3em;
}

.page-link:hover {
	background: rgb(0, 0, 0);
	background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.15) 35%, rgba(0, 0, 0, 0.6) 100%);
}
